body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

button {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: "#695D48";
}
button:hover {
    cursor: pointer;
    background-color: "#342D21";
}